<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1 class="netcompany">
      <span translate>Netcompany</span>
    </h1>
    <div class="omOss">
      <p>
        Netcompany er et IT-konsulentselskap som leverer morgendagens løsninger
        for våre kunder i det digitale landskapet.
      </p>
      <p>
For å kunne levere de beste IT-løsningene for våre kunder og sluttbrukere, er det aller viktigste vi gjør for våre ansatte å sørge for et inkluderende, positivt og faglig miljø. Ved å kontinuerlig støtte oppunder og utfordre våre konsulenter har vi skapt et innovativt og kunnskapsbasert miljø som er lidenskapelig opptatt av å være helt i forkant i systemutviklingsfaget, og som tar ansvar i alle aspekter av et prosjekt - uavhengig om det er nyutvikling av en forretningskritisk IT-løsning eller forvaltning av en mobil løsning. Vi investerer mye tid i fagarbeidet slik at vi kan være i forkant av ny teknologi og være med på å forme hvordan IT-bransjen utvikler seg. Samtlige av våre ansatte ønsker en kontinuerlig faglig utvikling og dette får de via et karrierelangt utviklingsprogram som er langt over bransjestandard.
     </p>
      <p>
	For Netcompany er det et helt naturlig valg å rekruttere nyutdannede til de aller fleste av våre stillinger innen informatikk, da studentene som har tatt sin utdanning ved NTNU og UiO gang etter gang har vist seg å ikke bare være rent faglig dyktige, men også lærenemme og interessert i å forstå hvordan systemutvikling i kontekst av arbeidslivet faktisk fungerer. Det er ingen tvil om at det å gå ut i fast jobb er en overgang fra studenttilværelsen og vi opplever at disse studentene ikke bare har den rent tekniske kunnskapen som skal til for å lykkes, men også den pragmatiske holdningen som kreves når man skal forholde seg til både kunder, kolleger og ikke minst nye domener.      
</p>
      <p>
	Hos kundene våre tar vi ansvar og arbeider målrettet, men utenfor arbeidstiden har vi mange arrangementer og aktiviteter som styrker fellesskapet på tvers av team og prosjekter. Vi har arrangementer hvor familie og partnere inviteres, vi stiller opp på Holmenkollstafetten, vi går på kino sammen, tar en helgetur til Hemsedal eller har en tradisjonell lønningspils. Vi mener at vi arbeider best når vi kjenner hverandre og har det moro sammen.      
</p>
    </div>
  </div>
</div>
