<div class="container-fluid">
  <div class="jumbotron text-center">
    <div class="graphic">
      <img src="assets/uioescape2019.jpg"/>
    </div>
    <!--<app-loader [isLoading]="isLoading"></app-loader>-->
    <div *ngIf="loggedIn">
      <label id="uploadDrop"
             class="uploadDiv"
             [class.onDrop]="isDragging"
             (dragenter)="dragEnter($event)"
             (dragleave)="dragLeave($event)"
             (drop)="onDrop($event)"
             (dragover)="onDragOver($event)">
        <input id="file" type="file" (change)="fileChange($event)"/>
        Dra roboten hit eller klikk for å velge
      </label>
    </div>
    <div *ngIf="!loggedIn" class="notLoggedIn">
      For å laste opp din robot må du enten
      <a routerLink="/registration" routerLinkActive="active">registrere deg</a>
      eller
      <a routerLink="/login" routerLinkActive="active">logge inn</a>
    </div>
    <div class="deliveries" *ngIf="deliveries">
      <h2>Dine innleveringer</h2>
      <div *ngFor="let delivery of deliveries">
        {{ delivery.created | amTimeAgo}} - {{delivery.filename}}
      </div>
    </div>
  </div>
</div>
