<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1 class="netcompany">
      <span translate>Muligheter i Netcompany</span>
    </h1>
    <div class="muligheter">
      <p>
        Hvordan kan du bruke din kompetanse til å utgjøre en forskjell?
      </p>
      <p>
        Som IT-student har du valgt en retning som åpner nesten uendelige muligheter i arbeidslivet!
        Vi befinner oss midt i en av de største digitale transformasjonene noensinne og i Netcompany får du muligheten sette ditt fingeravtrykk på denne utviklingen.
      </p>
      <p>
        I Netcompany har vi flere muligheter for deg som er student:
      </p>
      <ul>
        <li>Fast stilling som utvikler – for deg som fullfører studiene i 2019</li>
        <li>Summer Internship 2019 – for deg som går 4. året på din mastergrad innen interaksjonsdesign eller lignende</li>
        <li>Netcompany Talent Network 2019 - for deg som går 3. året innen informatikk, interaksjonsdesign eller lignende</li>
      </ul>
      <p>
        Høres dette spennende ut? Da vil vi gjerne bli bedre kjent med deg!
        <a href="https://www.koble.co/companies/netcompany/events/345">Registrer deg med navn og e-postadresse</a>, så hører du fra oss!
      </p>
    </div>
  </div>
</div>
