@font-face {
  font-family: 'Gotham';
  font-style: 'bold';
  src: local('Gotham Bold'), url('/assets/Gotham-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Gotham';
  font-style: 'light';
  src: local('Gotham Light'), url('/assets/Gotham-Light.woff') format('woff');
}

.muligheter {
  text-align: left;
  margin: 0 auto;
  max-width: 50em;

  font-family: 'Gotham';
  font-style: 'light';
}

.netcompany {
  font-family: 'Gotham';
  font-style: 'bold';
  font-weight: bold;
  padding-bottom: 0.5em;
}
