<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1 class="netcompany">
      <span translate>Konkurranseregler</span>
    </h1>
    <div class="regler">
      <p>
      </p>
      <ul>
        <li>Et lag kan bestå av 1-3 personer</li>
        <li>Pakkenavnet på roboten må være likt lagnavnet</li>
        <li>Turneringen består av både melee og 1v1</li>
        <li>Lever tidlig og heller flere ganger</li>
        <li>Deadline 19:30</li>
      </ul>
    </div>
  </div>
</div>
